html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
}

a{
    text-decoration: none !important;
}

a:hover{
    color: orange !important;
}

/* FOR MAIN CONTENT */
.mainContent{
    background: 
    radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%),
    url('/assets/main-bg.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
}

.navbar{
    background: rgba(0, 0, 0, 0.7);
    color: white !important;
    padding-left: 5%;
    padding-right: 5%;
}

.leftNavbar{
    padding-left: 5%;
}

.leftNavbar li, .rightNavbar li{
    padding-left: 10px;
    padding-right: 10px;
}

.navbar a{
    color: white !important;
}

.navbar a:hover{
    color: orange !important;
}

.heading{
    min-height: 92vh;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
}

.playBtn{
    font-weight: bold;
}

.mainFooter a{
    color: white !important;
    text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
}

/* FOR GAME CHOICE */
.gameChoice{
    background: 
    radial-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url('/assets/the-games-bg.jpg');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

#gameChoiceCarousel .carousel-indicators li{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: auto 5%;
}

/* FOR FEATURES */
.features{
    background: 
    radial-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url('/assets/features.jpg');

    background-repeat: no-repeat, no-repeat;    
    background-size: cover, cover;
    background-position: center, center;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

.timeline{
    border: 1px solid white;
    background-color: white;
    width: 2px;
    height: 105px;
    position: absolute;
    top: -52px;
}

.orangeText{
    color: orange;
}

/* FOR SYSTEM REQUIREMENT */
.systemReq{
    background:
    radial-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    ),
    url('/assets/requirements.png');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

.orangeBorder{
    border: 1px solid grey;
}

/* FOR TOP SCORE */
.topScore{
    background: 
    radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%),
    url('/assets/bg\ image\ 5.png');
    background-repeat: no-repeat;    
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

.circlePhoto{
    border-radius: 50%;
    width: 80%;
}

.quotesCard{
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.08);
}

.topScoreBtn{
    width: 25%;
}

/* FOR NEWSLETTER */
.newsletter{
    /* background-image: url('/assets/top-score-bg.png'); */
    background-color: black;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
}

.newsletterImgContainer{
    background: radial-gradient(
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 1)
    )
}

.newsletterImg{
    width: 60%;
    opacity: 0.4;
}

.newsletterHeading h3{
    width: 25%;
}

.newsletterHeading h1{
    width: 25%;
    padding: 5% 0;
}

.emailForm, .emailForm:focus{
    background-color: rgba(255, 255, 255, 0.05);
    border: none;  
    color: orange;  
}

.emailForm::placeholder, .emailForm:focus{
    color: orange;
}

.newsletterBtn{
    width: 75%;
}

/* FOR FOOTER */
footer{
    background-color: black;
    padding-left: 5%;
    padding-right: 5%;
}

footer a{
    color: white;
    text-decoration: none;
}

.footerMenu{
    text-align: center;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .timeline{
        height: 128px !important;
        top: -75px;
    }
    
    .circlePhoto{
        width: 30%;
    }

    /* .timeline{
        height: 250px;
        top: -50px;
    } */

    .circlePhoto{
        width: 20%;
    }

    .topScoreBtn{
        width: 50%;
    }

    .topScoreHeading{
        padding-bottom: 10%;
    }

    .topScore{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .newsletter{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .newsletterHeading{
        padding-top: 10%;
    }

    .newsletterHeading h3{
        width: 100%;
    }
    
    .newsletterHeading h1{
        width: 100%;
    }

    .newsletterBtnContainer{
        display: flex;
        justify-content: center;
    }
    .newsletterBtn{
        width: 50% !important;
    }

    /* .footerMenu{
        text-align: left;
    } */

    .footerMenuLink{
        padding: 2% 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
    /* .timeline{
        height: 105px !important;
        top: -52px !important;
    } */

    .topScore{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .circlePhoto{
        width: 20%;
    }

    .quotesCardContainer{
        padding-top: 5%;
    }

    .quotesCard{
        text-align: center;
    }

    .newsletter{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .newsletterBtnContainer{
        display: flex;
        justify-content: center;
    }

    .newsletterBtn{
        width: 50% !important;
    }

    footer .copyrights{
        text-align: center !important;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .timeline{
        height: 130px;
        top: -75px;
    }

    .newsletterBtn{
        width: 100%;
    }
 }